@page "/createkategori"
@inherits CreateKategoriBase
@attribute [Authorize]

<h3>Create Kategori</h3>

<EditForm Model="Kategori" OnValidSubmit="AddKategori">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="kategoriName">Nama Kategori</label>
        <InputText @bind-Value="Kategori.KategoriName" id="kategoriName" class="form-control" />
    </div>
</EditForm>
@if (listKategori == null)
{
    <h5>List kategori masih kosong!</h5>
}
else
{
    <div>
        <p>List Kategori</p>
        <ul>
            @foreach (var item in listKategori)
            {
                <li class="mb-3">
                    <p>@item.KategoriName</p>
                    <button @onclick="@(() => DeleteKategori(item.Id))" class="btn btn-sm btn-danger"><span class="oi oi-trash"></span> Delete</button>
                </li>
            }
        </ul>
    </div>
}

